

-# .contents
-#   .contents__title
-#     Product
-#   .contents__search
-#     %input.contents__search__field{:placeholder => "商品を検索"}/
-#   #search-result  
-#   = render @items
%main{:role => "main"}
  %section.jumbotron.text-center
    .container
      %h1.jumbotron-heading Products
      %input.form-control.form-control-lg{:placeholder => "商品を検索", :type => "text"}/

      -# %p.lead.text-muted Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
      -# %p
      -#   %a.btn.btn-primary.my-2{:href => "#"} Main call to action
      -#   %a.btn.btn-secondary.my-2{:href => "#"} Secondary action
  .album.py-5.bg-light
    .container
      .row
      - @items.each do |item|
        .col-md-4
          .card.mb-4.shadow-sm
            = image_tag item.try(:image), class: "card-img-top"
            -# %img.card-img-top{:alt => "Card image cap", "src" => "/assets/images/782DFD9F-69B5-46D5-8904-B517906225AA.JPG"}/
            .card-body
              %p.card-text name:#{item.name}
              .d-flex.justify-content-between.align-items-center
                .h6 ￥#{item.price}
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} 詳細
                .h3.text-right cost: ¥#{item.cost}
        .col-md-4
          .card.mb-4.shadow-sm
            = image_tag src='782DFD9F-69B5-46D5-8904-B517906225AA.JPG', class: "card-img-top"
            -# %img.card-img-top{:alt => "Card image cap", "src" => "/assets/images/782DFD9F-69B5-46D5-8904-B517906225AA.JPG"}/
            .card-body
              %p.card-text name:コインケース
              .d-flex.justify-content-between.align-items-center
                .h6 数量: 1
                .h6.text-right ￥1000000
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} 編集
                .h3.text-right cost: ¥3000
        .col-md-4
          .card.mb-4.shadow-sm
            = image_tag src='782DFD9F-69B5-46D5-8904-B517906225AA.JPG', class: "card-img-top"
            -# %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"}/
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
        .col-md-4
          .card.mb-4.shadow-sm
            %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"}/
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
        .col-md-4
          .card.mb-4.shadow-sm
            %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"}/
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
        .col-md-4
          .card.mb-4.shadow-sm
            %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"}/
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
                %small.text-muted 9 mins
        .col-md-4
          .card.mb-4.shadow-sm
            %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"}/
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
                %small.text-muted
        .col-md-4
          .card.mb-4.shadow-sm
            %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"}/
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
                %small.text-muted
        .col-md-4
          .card.mb-4.shadow-sm
            %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"}/
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
                %small.text-muted 9 mins
        .col-md-4
          .card.mb-4.shadow-sm
            %img.card-img-top{:alt => "Card image cap", "data-src" => "holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"}/
            .card-body
              %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              .d-flex.justify-content-between.align-items-center
                .btn-group
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} View
                  %button.btn.btn-sm.btn-outline-secondary{:type => "button"} Edit
                %small.text-muted 9 mins
