%main{:role => "main"}
  %section.jumbotron.text-center
    .container
      %h1.jumbotron-heading Products
      %input.form-control.form-control-lg{:placeholder => "商品を検索", :type => "text"}/

  .album.py-5.bg-light
    .container
      .row
        - @items.each do |item|
          .col-md-4
            .card.mb-4.shadow-sm
              - if item.image.attached?
                = image_tag item.image, class: "card-img-top",style:"object-fit: contain;",height: "260"
              - else
                = image_tag 'm_e_others_501.png', class: "card-img-top",style:"object-fit: contain;",height: "260"
              .card-body
                %p.card-text name:#{item.name}
                .d-flex.justify-content-between.align-items-center
                  .h6 ￥#{item.price}
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    %button.btn.btn-sm.btn-outline-secondary{:type => "button"} 詳細
                  .h3.text-right cost: ¥#{item.cost}
      
      = paginate(@items)
