%main{:role => "main"}
  %section.jumbotron.text-center
    .container
      %h1.jumbotron-heading Materials
      %input.form-control.form-control-lg{:placeholder => "材料を検索", :type => "text"}/

  .album.py-5.bg-light
    .container
      .row
        - @materials.each do |material| 
          .card.mx-auto.mb-2{:style => "width: 18rem;"}
            = image_tag material.image, class: "bd-placeholder-img card-img-top",focusable: "false",height: "180", preserveaspectratio: "xMidYMid slice",role: "img",style:"object-fit: contain;"
            .card-body
              %h5.card-title #{material.name}
            %ul.list-group.list-group-flush
              %li.list-group-item 仕入れ値: ￥#{material.price}
              %li.list-group-item 総数: #{material.value}
              %li.list-group-item 単位(set,cm): #{material.unit}
            .card-body
              %button.btn.btn-sm.btn-outline-secondary{:type => "button"} 編集
  
