-# .header
-#   .header__name
-#     = link_to "MaterialRecords", root_path
    
-#   .header__menu
-#     %ul.header__menu__right
-#       %li.header__menu__single
-#         .init-bottom
-#           Menu
-#         %ul.menu__second-level
-#           %li
-#             = link_to root_path do
-#               Top
-#           %li
-#             = link_to new_item_path do
-#               New Product
-#           %li
-#             = link_to new_material_path do
-#               New Material
-#           %li
-#             = link_to materials_path do
-#               Material List
-#           %li
-#             = link_to "#" do
-#               Logout

%nav.navbar.navbar-light{style: "background-color: navy;"}
  .container
    = link_to "MaterialRecords", root_path, class: "navbar-brand",style: "color: white;"
    -# %form.form-inline
    -#   %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit",style: "color: white;"} Search
    - if user_signed_in?
      .dropdown
        %button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          Menu
        .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
          = link_to "#", class: "dropdown-item" do
            Top
          = link_to new_item_path, class: "dropdown-item" do
            New Product
          = link_to new_material, class: "dropdown-item" do
            New Material
          = link_to materials_path, class: "dropdown-item" do
            Material List
          = link_to edit_user_registration_path, class: "dropdown-item" do
            User Edit
          = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
            Logout
    - else
      .btn-group{"aria-label" => "Basic example", :role => "group"}
        = link_to new_user_session_path, class: "btn btn-secondary" do
          ログイン
        = link_to new_user_registration_path, class: "btn btn-secondary" do
          新規登録
      

      
