.header
  .header__name
    = link_to "MaterialRecords", root_path
    
  .header__menu
    %ul.header__menu__right
      %li.header__menu__single
        = link_to "#" , class: ".init-bottom" do
          Menu
        %ul.menu__second-level
          %li
            = link_to new_item_path do
              New Product
          %li
            = link_to "#" do
              Child Menu
          %li
            = link_to "#" do
              Child Menu
          %li
            = link_to "#" do
              Child Menu
          %li
            = link_to "#" do
              Child Menu

